<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GesCampagne"
            connectionString="Data Source=301P13;Persist Security Info=True;User ID=appCampagne;Password=123123123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>